.app__footer {
  padding: 0rem 19rem 8rem;
  background: var(--color-black);
  position: relative;
  z-index: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.app__footer-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5.5rem;
  margin-top: 8rem;
}

.app__footer-info_contact,
.app__footer-info_logo,
.app__footer-info_work {
  text-align: center;
}

.app__footer-info_contact h4,
.app__footer-info_work h4 {
  color: var(--F5EFDB, #F5EFDB);
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Cormorant Upright;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.28px;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.app__footer-info_contact> :nth-child(2),
.app__footer-info_work> :nth-child(3) {
  margin-bottom: 1rem;
}

.app__footer-info_logo {
  max-width: 448px;
  position: relative;
  bottom: 1.8rem;
  right: 3.2rem;
}

.app__footer-info_social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.app__footer-info_social-icons svg {
  cursor: pointer;
  color: #F5EFDB;
  font-size: 24px;
  transition: 0.3s ease-in-out;
}

.app__footer-info_social-icons svg:hover {
  color: var(--color-golden);
}