.app__navbar {
  background: #0C0B08;
  padding: 2rem 7.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.app__navbar-logo {
  color: var(--color-white);
  font-family: var(--font-base);
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 1.76px;
  text-transform: uppercase;
}

.app__navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin: 0 2rem;
}


.app__navbar-links a:hover {
  border-bottom: 1px solid white;
}

.app__navbar-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__navbar-login a {
  transition: 1s ease;
}


.app__navbar-login a:hover {
  border-bottom: 1px solid var(--color-golden);
}

.app__navbar-login div {
  width: 2px;
  height: 57px;
  margin: 0 3.125rem;
  background: var(--color-gray);
}

.app__navbar-smallscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.app__navbar-smallscreen .hamburger-icon {
  cursor: pointer;
}

.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;

  animation: smallscreen 0.5s linear both;
}

@keyframes smallscreen {
  0% {
    transform: translateY(-25%);
  }

  100% {
    transform: translateY(0);
  }
}

.overlay__close {
  color: var(--color-golden);
  position: absolute;
  top: 2.8rem;
  right: 7.5rem;
  cursor: pointer;
}

.app__navbar-smallscreen_links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.app__navbar-smallscreen_links li {
  text-align: center;
  color: var(--color-golden);
  font-size: 2rem;
  font-weight: 400;
}

.app__navbar-smallscreen_links li a {
  transition: 1s ease-in;
}

.app__navbar-smallscreen_links li a:hover {
  border-bottom: 1px solid var(--color-golden);
}

@media only screen and (max-width: 767px) {
  .app__navbar {
    padding: 2rem 2rem;
  }

  .app__navbar-logo {
    font-size: 36px;
  }

  .app__navbar-links {
    display: none;
  }

  .app__navbar-login {
    display: none;
  }

  .app__navbar-smallscreen {
    display: flex;
  }

  .overlay__close {
    top: 2.8rem;
    right: 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  .app__navbar-links {
    display: none;
  }

  .app__navbar-login {
    display: none;
  }

  .app__navbar-smallscreen {
    display: flex;
  }
}

@media only screen and (max-width: 1400px) {
  .app__navbar-links {
    display: none;
  }

  .app__navbar-smallscreen {
    display: flex;
  }
}


/* Dúvidas e possíveis correções: 

Erros cometidos:

Registration e Book table não precisam estar em um parágrafo, basta colocar o link.

o wrapper que fica com o hamburguer menu não se chama OVERLAY, afinal, o overlay é o que vem depois. Então, basta mudar para smallscreen e, em seguida, para smallscreen_overlay.

Agora, basta refazer utilizando essas correções.

DÚVIDAS PARA TIRAR DEPOIS:

Quanto ao espaçamento da barra de navegação: eu utilizei, neste exemplo, margin-left e right com porcentagem até chegar no que eu queria. Porém, com o space-between tudo ficou mais responsível. Depois verifique isso.

Erros no CSS do Navbar: o efeito de borda foi feito no li, não no a.

Quando for fazer borderbottom, faça diretamente no a.

.app__navbar-smallscreen_overlay: você se esqueceu do z-index.

Pronto! Esta completamente responsivo. Basta refazer amanha com as mesmas medidas.

*/