.app__header {
  background: var(--color-black);
  width: 100%;
  min-height: 100vh;
  padding: 10rem 19rem 5rem 19rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 11.25rem;
}

.app__header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.app__header-content_title {
  color: var(--DCCA87, #DCCA87);
  font-family: var(--font-base);
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.app__header-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: max-content;
  box-shadow: 13px -11px 0px -3px rgba(220, 202, 135, 1);
}

.app__header-img img {
  width: 650px;
  height: 70vh;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .app__header {
    background: var(--color-black);
    width: 100%;
    min-height: 100vh;
    padding: 10rem 2rem 4rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }

  .app__header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    order: 2;
  }

  .app__header-content_title {
    color: var(--DCCA87, #DCCA87);
    /* H1 90px Cormorant Upright Semi */
    font-family: Cormorant Upright;
    font-size: 50px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 117px */
    letter-spacing: 3.6px;
    text-transform: uppercase;
    width: auto;
  }

  .app__header-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    order: 1;
  }

  .app__header-img img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .app__header {
    padding: 10rem 3rem;
    gap: 2rem;
  }

  .app__header-content_title {
    font-size: 55px;
    width: 100%;
  }

  .app__header-img img {
    width: 100%;
  }
}

/* Media Query para dispositivos com largura entre 1024 e 1279 pixels (tablets em modo paisagem e notebooks) */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .app__header {
    padding: 10rem 3rem;
    gap: 2rem;
  }

  .app__header-content_title {
    font-size: 60px;
    width: 100%;
  }

  .app__header-img {
    width: 100%;
  }

  .app__header-img img {
    width: 100%;
  }
}

/* Media Query para dispositivos com largura de 1280 pixels ou mais (desktops) */
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .app__header {
    padding: 10rem 3rem;
    gap: 2rem;
  }


  .app__header-content_title {
    font-size: 65px;
    width: auto;
  }

  .app__header-img {
    width: 100%;
  }

  .app__header-img img {
    width: 100%;
  }
}




/* DÚVIDAS 

1 - Pesquisar sobre como deixar uma imagem estática. A imagem está diminuindo demais, o que tentaremos resolver com a ajuda de media queries.

2 - De resto, parabéns. Você é um monstro!

3 - Para que a imagem não fique responsiva, pelo menos em telas grandes A PRINCIPIO, basta deixar a imagem com um width fixo.

4 - Eu coloquei max-width: 500px. O que isso significa? A imagem original é de 4000 x 6000. Quando eu coloco que o max de largura que ela vai ter é 500px, ele vai diminuir a imagem ATÉ chegar em 500px, sacou? É o maximo que ela vai ter. E ela não vai diminuir responsivamente, sem que eu coloque alguma porcentagem ou algo do tipo. É uma excelente forma de trabalharmos.

*/