.app__header {
  background: var(--color-black);
  width: 100%;
  min-height: 100vh;
  padding: 10rem 19rem 5rem 19rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 11.25rem;
}

.app__header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.app__header-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.app__header-img img {
  width: 650px;
  height: 70vh;
  object-fit: cover;
  box-shadow: 13px -11px 0px -3px rgba(220, 202, 135, 1);
}

@media only screen and (max-width: 767px) {
  .app__header {
    padding: 10rem 2.5rem 3rem 2.5rem;
    flex-direction: column;
    gap: 4rem;
  }

  .app__header-content {
    align-items: center;
    order: 2;
    text-align: center;
  }

  .app__header-content h1 {
    font-size: 40px;
  }

  .app__header-img img {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .app__header {
    padding: 10rem 2.5rem 3rem 2.5rem;
    gap: 3rem;
    min-height: 80vh;
  }

  .app__header-content h1 {
    font-size: 50px;
  }

  .app__header-img img {
    width: 100%;
    height: 50vh;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1440px) {

  .app__header {
    padding: 10rem 4rem 3rem 4rem;
    gap: 2rem;
  }

  .app__header-content h1 {
    font-size: 60px;
  }

  .app__header-img img {
    width: 100%;
  }
}



/* DÚVIDAS 

1 - Pesquisar sobre como deixar uma imagem estática. A imagem está diminuindo demais, o que tentaremos resolver com a ajuda de media queries.

2 - De resto, parabéns. Você é um monstro!

3 - Para que a imagem não fique responsiva, pelo menos em telas grandes A PRINCIPIO, basta deixar a imagem com um width fixo.

4 - Eu coloquei max-width: 500px. O que isso significa? A imagem original é de 4000 x 6000. Quando eu coloco que o max de largura que ela vai ter é 500px, ele vai diminuir a imagem ATÉ chegar em 500px, sacou? É o maximo que ela vai ter. E ela não vai diminuir responsivamente, sem que eu coloque alguma porcentagem ou algo do tipo. É uma excelente forma de trabalharmos.

*/